body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-left: 1.25rem;
}

#map {
    height: 100vh;
}

.item {
    cursor: pointer;
    margin-bottom: 2rem;
    transition: box-shadow .3s;
}

.item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    background: #FFF;
}

.item h4 {
    margin: 1rem 0 0.5rem 0;
}

.item p {
    margin: 0 0 1rem 0;
    padding-left: 20px;
}

.item img {
    width: 100%;
    display: block;
}

@media only screen and (min-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: 7fr 4fr;
        /* overflow: auto; */
        position: relative;
    }
    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        padding: 30px;
    }
    #map {
        background-color: #CCC;
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }
}